<div class="container-md">
  <div class="row">
    <div class="col">
      <h1 class="float-left">All Comments</h1>
    </div>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Post</th>
    <th>User</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.content %></td>
      <td><%= comment.post.title %></td>
      <td><%= comment.user.username %></td>
      <td><%= comment.created_at %></td>
      <td><%= comment.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
