<div class="container-md">
  <div class="row">
    <div class="col">
      <h1 class="float-left">All Orders</h1>
    </div>

    <div>
      <%= form_tag orders_path, method: :get, class: "form-inline" do %>
        <div class="d-flex justify-content-end">
          <label for="sort_by" class="mr-2">Sort By:</label>
          <%= select_tag :sort_by, options_for_select({ "Ascending" => "asc", "Descending" => "desc" }, params[:sort_by]), class: "form-control form-control-sm mr-2", style: "width: 100px;" %>
          <%= submit_tag "Sort", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <table>
      <thead>
      <tr>
        <th>Serial Number</th>
        <th>Amount</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.serial_number %></td>
          <td><%= order.amount %></td>
          <td><%= order.state %></td>
          <td>
            <% if user_signed_in? && (order.user == current_user || current_user.admin?) %>
              <% if order.pending? %>
                <%= button_to 'Submit', submit_order_path(order), class: 'btn btn-outline-danger', method: :post %>
              <% elsif order.submitted? %>
                <%= button_to 'Pay', pay_order_path(order), class: 'btn btn-outline-danger', method: :post %>
                <%= button_to 'Fail', fail_order_path(order), class: 'btn btn-outline-danger', method: :post %>
              <% elsif order.paid? %>
                <%= button_to 'Revoke', revoke_order_path(order), class: 'btn btn-outline-danger', method: :post %>
              <% end %>
            <% end %>
          </td>


        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @orders %>
