<style>
    .button {
        border: 1px solid #d8668c !important;
        background-color: #fff;
        color: #d8668c;
        height: 40px;
        border-radius: 100px;
    }

    .button:hover {
        border: 1px solid #d8668c !important;
        color: #fff;
        height: 40px;
        background-color: #d8668c;
    }
</style>

<%= form_with model: post do |form| %>

  <% if post.errors.any? %>
    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="mb-3">
    <%= form.label :title, 'Title:', class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :content, 'Content:', class: 'form-label' %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <div class="buttons">
    <%= form.submit class: 'button' %>
  </div>
<% end %>