<br>
<br>
<div class="container-md">
  <article class="blog-post">
    <h2 class="blog-post-title"><%= @post.title %></h2>
    <p class="blog-post-meta">Published on <%= @post.created_at %> by  <%= @post.user&.email %></p>
    <p><%= @post.content %></p>
  </article>

  <h2>Comments</h2>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <%= comment.content %>(<%= comment.created_at %>) by <%= comment.user&.email %>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) if user_signed_in? && comment.user == current_user %>
        <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete if user_signed_in? && comment.user == current_user %>
      </li>
    <% end %>
  </ul>
  <%= paginate @comments %>

  <%= form_with model: @comment, url: post_comments_path(@post), data: { turbo: false } do |form| %>
    <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
    <div>
      <%= form.label :"New comment" %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>
</div>