<!DOCTYPE html>
<html>
<head>
  <title>Meg's Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="icon" href=
    "https://img.freepik.com/premium-psd/pink-crystal-heart-transparent-background_161568-14295.jpg"
        type="image/x-icon">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<style>
    .navbar-nav .nav-link {
        color: black;
        /*text-decoration: none;*/
    }

    .navbar-nav .nav-link.active {
        font-weight: bold;
    }
</style>

<body>
<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
      <%= link_to "About", about_path, class: "nav-link #{'active' if current_page?(about_path)}" %>
      <%= link_to "Contact Us", contact_path, class: "nav-link #{'active' if current_page?(contact_path)}" %>
      <%= link_to "Posts", posts_path, class: "nav-link #{'active' if current_page?(posts_path)}" %>
      <%= link_to "New Post", new_post_path, class: "nav-link #{'active' if current_page?(new_post_path)}" %>
    </ul>
  </div>
</nav>


<% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
<% end %>


<%#= render partial: "welcome/header" %>
<%= yield %>
</body>
</html>
